<div class="container py-5">
  <h1 class="mb-4 text-center">News & Events</h1>

  <div class="row">

    <div class="row">
  <% news.forEach(item => { %>
    <div class="col-md-4 mb-4">
        <a href="/news-events/<%= item.id %>" style="text-decoration: none; color: inherit;">
      <div class="card h-100 shadow-sm">
        <img src="<%= item.image %>" class="card-img-top">
        <div class="card-body">
          <h5><%= item.title %></h5>
          <p class="text-muted small"><%= item.date %></p>
          <p><%= item.description %></p>         
        </div>    
      </div>
      <% if (user && user.role === 'admin') { %>
  <div class="card-footer text-center">

    <a href="/admin/news/edit/<%= item.id %>" class="btn btn-sm btn-outline-primary me-2">
      Edit
    </a>

    <form action="/admin/news/delete/<%= item.id %>" method="POST" style="display:inline;">
      <button class="btn btn-sm btn-outline-danger">
        Delete
      </button>
    </form>

  </div>
<% } %>
      </a>
    </div>
   
  <% }) %>
</div>

  </div>
</div>